@charset "UTF-8";
/* ==========================================================================
 Foundation
========================================================================== */
/* ==========================================================================
 Base
========================================================================== */
html, body {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fcfcfc;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  width: 100%;
}

html {
  /* ルートのフォントサイズを10pxに設定しておく */
  font-size: 62.5%;
}

body {
  /* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
  font-size: 1.6rem;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

a,
button {
  -webkit-transition: .3s;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  text-decoration: none;
  transition: .3s;
}

a:hover,
button:hover {
  -webkit-transition: .3s;
  color: black;
  text-decoration: none;
  transition: .3s;
}

/* ==========================================================================
 Layout
========================================================================== */
/* ==========================================================================
Window
========================================================================== */
.l-window {
  height: 100vh;
  position: relative;
  width: 100vw;
}

@media screen and (min-width: 960px) {
  .l-window {
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
    width: 600px;
  }
}

/* ==========================================================================
 Object
========================================================================== */
/* -----------------------------------------------------------------
 Component
----------------------------------------------------------------- */
/* ==========================================================================
Button
========================================================================== */
.c-btn, .c-btn--md, .c-btn--wide {
  -webkit-transition: all 0.3s;
  -webkit-transition: all 0.5s;
  border: none;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
  transition: all 0.5s;
}

.c-btn--md {
  height: 40px;
  width: 80px;
}

.c-btn--wide {
  height: 40px;
  width: 120px;
}

.c-btn--radio {
  opacity: 0;
  width: 0;
}

.c-btn--label {
  line-height: 2.5;
  text-align: center;
}

.c-btn--input {
  font-size: 1.6rem;
}

.c-btn--config {
  background-color: #0277bd;
}

.c-btn--rest {
  background-color: #ecf331;
}

.c-btn--work, .c-btn--reset {
  background-color: #e53935;
}

.c-btn--humor, .c-btn--event {
  background-color: #55c500;
}

.c-btn--inspi, .c-btn--coding {
  background-color: #3febff;
}

.c-btn--trainee, .c-btn--training {
  background-color: #ff6633;
}

.c-btn:hover, .c-btn--md:hover, .c-btn--wide:hover {
  -webkit-transition: all 0.3s;
  opacity: 0.5;
  transition: all 0.3s;
}

.c-btn-box {
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: center;
  background: #ffeaea;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 15vh;
  justify-content: space-around;
  width: 100%;
}

@media screen and (min-width: 960px) {
  .c-btn-box {
    height: 80px;
  }
}

/* ==========================================================================
Command
========================================================================== */
.c-command {
  height: 25%;
  width: 25%;
}

/* ==========================================================================
Container
========================================================================== */
.c-container {
  margin-bottom: 90px;
  width: 100vw;
}

@media screen and (min-width: 960px) {
  .c-container {
    margin: 100px auto;
    width: 960px;
  }
}

.c-container__title, .c-container__title--facility {
  font-size: 4rem;
  margin-bottom: 50px;
  text-align: center;
}

.c-container__title--facility {
  margin-bottom: 70px;
}

.c-container--ornament {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
}

/* ==========================================================================
Image
========================================================================== */
.c-img__clip {
  border-radius: 50%;
  overflow: hidden;
}

/* ==========================================================================
Main-display
========================================================================== */
.c-main-display {
  height: 65vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 960px) {
  .c-main-display {
    height: 350px;
    margin: 0 auto;
    width: 100%;
  }
}

.c-main-display__head {
  margin-top: 30px;
}

.c-main-display__body {
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
}

.c-main-display__bottom {
  -webkit-box-pack: center;
  bottom: 10px;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.c-main-display--bg, .c-main-display--bg--humor, .c-main-display--bg--inspi, .c-main-display--bg--train {
  -webkit-transition: all 0.7s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.7s;
}

.c-main-display--bg--humor {
  background-image: url(../img/bg/bg-humor.jpg);
}

.c-main-display--bg--inspi {
  background-image: url(../img/bg/bg-inspi.jpg);
}

.c-main-display--bg--train {
  background-image: url(../img/bg/bg-trainee.jpg);
}

.op {
  background-image: url(../img/op/op.png);
}

.humor {
  background-image: url(../img/setting/humor.png);
}

.inspi {
  background-image: url(../img/setting/inspiration.png);
}

.trainee {
  background-image: url(../img/setting/trainee.png);
}

.bad-end1 {
  background-image: url(../img/result/bad-end1.png);
}

.bad-end2 {
  background-image: url(../img/result/bad-end2.png);
}

.good-end {
  background-image: url(../img/result/good-end.png);
}

.happy-end {
  background-image: url(../img/result/happy-end.png);
}

.muscle-end {
  background-image: url(../img/result/muscle-end.png);
}

/* ==========================================================================
Message
========================================================================== */
.c-message-box, .c-message-box--sm {
  background: #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
  box-sizing: border-box;
  color: #565656;
  height: 20vh;
  overflow: scroll;
  padding: 2vh 3vw;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 960px) {
  .c-message-box, .c-message-box--sm {
    height: 200px;
    padding: 10px;
  }
}

.c-message-box--sm {
  height: auto;
}

.c-message--supplyer, .c-message--cheer {
  bottom: 15px;
  position: absolute;
  right: 15px;
}

/* ==========================================================================
Sub-display
========================================================================== */
.c-sub-display {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
}

/* ==========================================================================
Title
========================================================================== */
.c-title {
  background: rgba(255, 255, 255, 0.7);
  font-size: 4rem;
  text-align: center;
}

.c-title--modal {
  font-size: 3rem;
  text-align: center;
}

/* -----------------------------------------------------------------
 Project
----------------------------------------------------------------- */
/* ==========================================================================
Canvas
========================================================================== */
.c-canvas {
  position: absolute;
  z-index: 1;
}

/* ==========================================================================
Character
========================================================================== */
.p-character-box {
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}

.p-character-box__head {
  height: 150px;
  width: 150px;
}

.p-character-box__body {
  background: white;
  border-radius: 10px;
  line-height: 1.3;
  margin: 50px 0;
  text-align: center;
  width: 150px;
}

/* ==========================================================================
is-state
========================================================================== */
/* ==========================================================================
Modal
========================================================================== */
.c-modal, .c-modal--small {
  background: #f6f5f4;
  border-radius: 10px;
  display: none;
  height: 670px;
  line-height: 2.4rem;
  padding: 2rem;
  position: absolute;
  text-align: left;
  top: 20px;
  width: 300px;
  z-index: 2;
}

@media screen and (min-width: 960px) {
  .c-modal, .c-modal--small {
    height: 550px;
    margin-top: 30px;
    width: 400px;
  }
}

.c-modal--info {
  border: dashed 2px #ffc3c3;
}

.c-modal__bottom {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.c-modal--small {
  height: 400px;
}

@media screen and (min-width: 960px) {
  .c-modal--small {
    height: 600px;
    width: 400px;
  }
}

.c-modal--event {
  border: double 4px rgba(0, 0, 0, 0.26);
}

.c-modal--event__body {
  margin: 20px auto;
}

.c-modal-bg {
  background: rgba(0, 0, 0, 0.12);
  display: none;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* ==========================================================================
Text
========================================================================== */
.p-text-link {
  color: rgba(0, 0, 0, 0.54);
}

.p-text--day-count {
  text-align: center;
}

.p-text--amount {
  color: #e53935;
}

.p-text--quality {
  color: #3febff;
}

/* -----------------------------------------------------------------
 Utility
----------------------------------------------------------------- */
/* ==========================================================================
Font
========================================================================== */
.u-font-size-3l {
  font-size: 3rem;
}

/* ==========================================================================
Hover-underLine
========================================================================== */
.u-hover-underline {
  -webkit-transition: background .4s;
  /* アンダーラインの間隔 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.87)), to(rgba(0, 0, 0, 0.87))) 0 100%/0 2px no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)) 0 100%/0 2px no-repeat;
  padding-bottom: .18em;
  text-decoration: none;
  transition: background .4s;
}

.u-hover-underline.reverse {
  background-position: 100% 100%;
}

.u-hover-underline:hover {
  background-size: 100% 2px;
}

/* ==========================================================================
Letter Spacing
========================================================================== */
.u-letter-sp--sm {
  letter-spacing: .5rem;
}

/* ==========================================================================
Padding
========================================================================== */
.u-padding--r-2l {
  padding-right: 20px;
}
