@charset "utf-8";
/* ==========================================================================
Button
========================================================================== */
.c-btn{
    border: none;
    transition: all .3s;
    &:hover{
        opacity: .5;
    }
}