@charset "utf-8";
/* ==========================================================================
Title
========================================================================== */
.c-title{
    text-align: center;
    &--ornament{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        padding: 0 80px;
        @include pc(){
            padding: 0 155px;
        }
        &:before,
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            display: inline-block;
            height: 2px;
            width: 80px;
            border-top: solid 1px #333;
            border-bottom: solid 1px #333;
            @include pc(){
                width: 150px;
            }
        }
        &:before{
            left: 0;
        }
        &:after{
            right: 0
        }
    }
}
