@charset "utf-8";
/* ==========================================================================
Message
========================================================================== */
.c-message {
  &-box {
    position: relative;
    width: 100%;
    height: 20vh;
    padding: 2vh 3vw;
    box-sizing: border-box;
    overflow: scroll;
    color: #565656;
    background: #ffeaea;
    border: dashed 2px $message-border;
    border-radius: 8px;
    // &::-webkit-scrollbar{
    //     width: 5px;
    // }
    @include pc() {
      padding: 10px;
      height: 200px;
    }
    //メッセージ用
    &--sm {
      @extend .c-message-box;
      height: auto;
    }
  }
  &--supplyer,
  &--cheer {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}
