//bootstrap準拠 https://getbootstrap.com/docs/4.3/getting-started/theming/#color
$white: #f8f9fa;
$gray-200: #e9ecef;//bootstrap
$gray-300: #dee2e6;;//bootstrap
$darkGray: #f8f8f8;
$black: #444;
$green: #55D9D9;
$shadow-color: rgb(92, 127, 179);
$message-border: rgba(255, 0, 129, .2);
$button-op: rgba(255, 0, 129, .1);
$red: #dc3545;
$orange: #ff8a24;
$yellow: #ffff3f;
$aqua: #26ebff;
$aliceBlue: #e0edff;//TODO 役割ごとに色をネーミングする


//サイズ
$sm: 30%;
$md: 50%;
$md-lg: 60%;
$lg: 100%;
//アニメーション関数
@keyframes state-float1 {
  0% {
    transform: translateY(0px);
    box-shadow: 0 8px 5px rgba(200, 0, 129, .1);
  }

  50% {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(200, 0, 129, .01);
  }

  100% {
    transform: translateY(0px);
    box-shadow: 0 8px 5px rgba(200, 0, 129, .1);
  }
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: inline;
    opacity: 0;
  }
  100% {
    display: inline;
    opacity: 1;
  }
}

html{
  font-size: 62.5%;
}

body{
  background: $gray-200;
  margin: 2rem auto;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 1.6em;
  letter-spacing: 0.3em;
}


//レイアウト
.site-width{
  position: relative;
  width: 980px;
  height: 551px;
  margin: 0 auto;
  background-size: cover;
  background-color: $white;
}

.op{
  &-img{
    background-image: url(../../../img/op/op.png);
    &-logo{
    }
    &:after{
      clear: both;
      display: block;
      content: '';
    }
  }
}

.message{
  border: double .3rem rgba(255, 0, 129, .2);
  border-radius: 5px;
  letter-spacing: 0.17em;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1em;
  border: solid 1px #fff;
  &-opening{
    box-sizing: border-box;
    background: $gray-200;
    font-size: 1.7rem;
    position: absolute;
    bottom: 0;
    &__large{
      width: $lg;
    }
  }
  &-setting{
    box-sizing: border-box;
    font-size: 1.7rem;
    position: relative;
    margin: 5rem auto;
    &__middle{
      width: $md;
    }
  }
  &-action{

  }
  &__small{
    width: $sm;
  }
  &__large{
    width: $lg;
  }
  &__bottom{
    position: absolute;
    bottom: 0;
  }
}

.btn{
  &-setting{
    font-size: 3rem;
    border-radius: 13rem;
    width: 25rem;
    height: 25rem;
    background-color: $button-op;
    border: dashed 1px #fff;
    cursor: pointer;
    position: relative;
    margin: 15px;
    animation:{
      name: state-float1;
      duration: 4s;
      timing-function: ease;
      iteration-count: infinite;
    }
    &:hover{
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    }
  }
}

//セッティング
.container-setting{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#js-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: .8s;
  background-repeat: no-repeat;
  &.trainee{
    background-image: url(../../../img/setting/trainee.png);
    background-position-x: 346px;
  }
  &.humor{
    background-image: url(../../../img/setting/humor.png);
    background-position-x: -346px;
  }
  &.inspi{
    background-image: url(../../../img/setting/inspiration.png);
    background-position-Y: 150px;
  }
}

.wrap-title{
  width: 50%;
  background-color: $gray-200;
  border-radius: 25px;
  margin: 0 auto;
}
.font-title{
  font-size: 3.5rem;
}

.wrap-btn{
  &__setting{
    display: flex;
    justify-content: space-around;
    width: $lg;
  }
  &__submit{
    position: relative;
    left: -10px;
    width: $sm;
    margin: 2rem auto;
  }
}

.button{
  padding: 1.2rem 1.4rem;
  border-radius: 5px;
  font-size: 1.5rem;
  color: $gray-300;
  box-shadow: 1px 1px 5px;
  transition: .3s;
  &:hover{
    transform: translateY(2px);
    box-shadow: 0 2px 25px ;
    color: $gray-200;
  }
  &:checked{
    transform: scale(1.2);
  }
  &-radio__trainee{
    background-color: rgba($red, 0.8);
  }
  &-radio__humor{
    color: $white;
    background-color: rgba($yellow, 0.8);
  }
  &-radio__inspiration{
    color: $white;
    background-color: rgba($aqua, 0.8);
  }
  .input-radio__hide{
    display: none;
  }
}

.wrap-radio{
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: $md - 5;
  position: relative;
  right: 1%;
  height: 120px;
}

.hidden{
  display: none;
  text-align: left;
  letter-spacing: .5rem;
  line-height: 150%;
  padding: 5px;
  background: $aliceBlue;
  border-radius: 10px;
  position: absolute;
  top: 6.3rem;
  transition: all 0.5s;
  animation-duration: 0.5s;
  &:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid $aliceBlue;
  }
  &.humor{
    left: -3.6rem;
  }
  &.inspiration{
    left: 10.8rem;
  }
  &.train{
    left: 29rem;
  }
}

.visible{
  display: inline;
  opacity: 1;
  animation-duration: all 0.5s;
  transition: 0.5s;
  animation-name: fade-in;
}

//アクション
.main-display{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.characters-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

.character-box{
  width: 25%;
  height: 100%;
}

.character{
  &-img{
    &__box{
      width: 80%;
      height: 70%;
      border-radius: 10rem;
      overflow: hidden;
      margin: 0 auto;
      border: dashed 2px $gray-300;
      &.humor{
        border: dashed 2px $yellow;
      }
      &.inspi{
        border: dashed 2px $aqua;
      }
      &.train{
        border: dashed 2px $red;
      }
    }
    &__hero{
      position: relative;
      left: -8rem;
      top: 1rem;
      width: 190%;
      background: $white;
    }
    &__enemy{
      transform: scale(-1, 1);
      position: relative;
      left: -10rem;
      top: 1rem;
      width: 190%;
      background: $white;
    }
  }
  &-status{
    width: 100%;
    height: 30%;
    font-size: 1.6rem;
    padding-left: 5px;
  }
}

.system-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  .command-box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: 100%;
    .button{
      width: 100%;
      height: 20%;
      transition: .4s;
      &:hover{
        transform: scale(1.1);
      }
      &.attack{
        background: $red;
      }
      &.coding{
        background: $aqua;
      }
      &.training{
        background: $orange;
      }
      &.rest{
        background: $green;
      }
    }
  }
  .message-box{
    width:70%;
    height: 100%;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    overflow-y: scroll;
    border: double 4px $black;
    border-radius: 14px;
    &__bottom{
      position: relative;
      bottom: 0;
    }
  }
}
//リザルト画面

.result{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $black;
}
.box-result{
  padding: 15px;
  border-radius: 5px;
  background-color: $gray-200;
  border-radius: 5px;
  &__message{
    font-size: 1.5rem;
    position: relative;
    top: 75%;
  }
}


//js関連クラス

//action
.js-modal{
  &-body{
    display: none;
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    background: #f6f5f4; //TODO変数
    border: 1px solid #444; //TODO変数
    border-radius: 5px;
    padding: 5px;
  }
  &-btn{
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: white;
    background: $black;
    border-radius: 5px;
    font-size: 1.6rem;
    width: 100%;
    height: 20%;
    padding: 15px;
  }
  &-cover{
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8d8d8d; //TODO 変数適用
    opacity: .4;
  }
}
